openapi: 3.1.0
info:
  title: GoodPlay ONLUS Registry & Verification System API
  description: |
    Complete API specification for the GOO-17 ONLUS Registry & Verification System.

    This API provides comprehensive ONLUS (Non-profit Organization) management functionality including:
    - Public ONLUS discovery and search
    - User application submission and management
    - Administrative review and verification processes
    - Document management and verification
    - Multi-phase application workflow

    ## Authentication
    - Public endpoints: No authentication required
    - User endpoints: Bearer token authentication (`@auth_required`)
    - Admin endpoints: Administrative privileges required (`@admin_required`)

    ## Response Format
    All responses follow the standard GoodPlay format with constant message keys for UI localization.

    ## Rate Limiting
    - Public endpoints: 100 requests/minute
    - Authenticated endpoints: 1000 requests/minute
    - Admin endpoints: 5000 requests/minute

  version: 1.0.0
  contact:
    name: GoodPlay API Support
    email: api-support@goodplay.it
    url: https://docs.goodplay.it
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.goodplay.it/v1
    description: Production server
  - url: https://staging-api.goodplay.it/v1
    description: Staging server
  - url: http://localhost:5000/api
    description: Local development server

tags:
  - name: Public ONLUS
    description: Public endpoints for ONLUS discovery and information
  - name: User Applications
    description: User endpoints for application submission and management
  - name: User Documents
    description: User endpoints for document management
  - name: Admin Applications
    description: Administrative endpoints for application review
  - name: Admin ONLUS
    description: Administrative endpoints for ONLUS management

paths:
  # =============================================================================
  # PUBLIC ONLUS ENDPOINTS
  # =============================================================================

  /onlus:
    get:
      tags:
        - Public ONLUS
      summary: Get all active ONLUS organizations
      description: |
        Retrieve a paginated list of all approved and active ONLUS organizations.
        Results can be filtered by category, location, and other criteria.

        **No authentication required** - Public endpoint for donor discovery.
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of organizations per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: category
          in: query
          description: Filter by ONLUS category
          required: false
          schema:
            type: string
            enum: [healthcare, education, environment, social_services, culture_sport, civil_rights, international_cooperation, other]
        - name: location
          in: query
          description: Filter by geographic location
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: Search in organization name and description
          required: false
          schema:
            type: string
            minLength: 3
            maxLength: 100
        - name: sort_by
          in: query
          description: Sort criteria
          required: false
          schema:
            type: string
            enum: [name, category, created_at, total_donations, beneficiaries_count]
            default: name
        - name: sort_order
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: ONLUS organizations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ONLUS_LIST_RETRIEVED_SUCCESS"
                  data:
                    type: object
                    properties:
                      organizations:
                        type: array
                        items:
                          $ref: '#/components/schemas/PublicONLUSProfile'
                      pagination:
                        $ref: '#/components/schemas/PaginationInfo'
                      filters:
                        $ref: '#/components/schemas/ActiveFilters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /onlus/{onlus_id}:
    get:
      tags:
        - Public ONLUS
      summary: Get specific ONLUS organization details
      description: |
        Retrieve detailed information about a specific ONLUS organization.
        Returns public information suitable for donor viewing.

        **No authentication required** - Public endpoint for organization details.
      parameters:
        - name: onlus_id
          in: path
          required: true
          description: Unique identifier of the ONLUS organization
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      responses:
        '200':
          description: ONLUS organization details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ONLUS_DETAILS_RETRIEVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/DetailedONLUSProfile'
        '404':
          description: ONLUS organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "ONLUS_NOT_FOUND"
                error: "The specified ONLUS organization was not found"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /onlus/categories:
    get:
      tags:
        - Public ONLUS
      summary: Get available ONLUS categories
      description: |
        Retrieve list of all available ONLUS categories with descriptions and requirements.
        Useful for application forms and filtering interfaces.

        **No authentication required** - Public reference data.
      responses:
        '200':
          description: ONLUS categories retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "CATEGORIES_RETRIEVED_SUCCESS"
                  data:
                    type: object
                    properties:
                      categories:
                        type: array
                        items:
                          $ref: '#/components/schemas/ONLUSCategoryInfo'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /onlus/statistics:
    get:
      tags:
        - Public ONLUS
      summary: Get platform ONLUS statistics
      description: |
        Retrieve aggregate statistics about ONLUS organizations on the platform.
        Includes counts by category, geographic distribution, and other metrics.

        **No authentication required** - Public statistics for transparency.
      responses:
        '200':
          description: ONLUS statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "STATISTICS_RETRIEVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/ONLUSStatistics'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # USER APPLICATION ENDPOINTS
  # =============================================================================

  /onlus/applications:
    post:
      tags:
        - User Applications
      summary: Submit new ONLUS application
      description: |
        Submit a new application for ONLUS registration on the platform.
        Initiates the multi-phase verification process.

        **Authentication required** - User must be logged in.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationSubmissionRequest'
      responses:
        '201':
          description: Application submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "APPLICATION_SUBMITTED_SUCCESS"
                  data:
                    type: object
                    properties:
                      application_id:
                        type: string
                        example: "64f8b2e5c9d1a5b4e3f2a1b0"
                      status:
                        type: string
                        example: "submitted"
                      estimated_processing_time:
                        type: string
                        example: "14-21 business days"
                      next_steps:
                        type: array
                        items:
                          type: string
                        example:
                          - "Document verification will begin within 24 hours"
                          - "You will receive status updates via email"
                          - "Upload any additional documents if requested"
        '400':
          description: Invalid application data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "VALIDATION_ERROR"
                error: "Required fields missing: organization_name, tax_id"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Duplicate application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "DUPLICATE_APPLICATION"
                error: "An application for this organization already exists"
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - User Applications
      summary: Get user's applications
      description: |
        Retrieve all applications submitted by the current user.
        Includes application status, timeline, and required actions.

        **Authentication required** - Returns only current user's applications.
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter applications by status
          required: false
          schema:
            type: string
            enum: [draft, submitted, under_review, approved, rejected, withdrawn]
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of applications per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: User applications retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "USER_APPLICATIONS_RETRIEVED_SUCCESS"
                  data:
                    type: object
                    properties:
                      applications:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserApplicationSummary'
                      pagination:
                        $ref: '#/components/schemas/PaginationInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /onlus/applications/{application_id}:
    get:
      tags:
        - User Applications
      summary: Get specific application details
      description: |
        Retrieve detailed information about a specific application.
        Includes current status, review progress, and required actions.

        **Authentication required** - User can only access their own applications.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      responses:
        '200':
          description: Application details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "APPLICATION_DETAILS_RETRIEVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/DetailedApplicationInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Access denied - not application owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "ACCESS_DENIED"
                error: "You can only access your own applications"
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "APPLICATION_NOT_FOUND"
                error: "The specified application was not found"
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - User Applications
      summary: Update application information
      description: |
        Update application details. Only possible for applications in draft or
        when additional information has been requested during review.

        **Authentication required** - User can only update their own applications.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdateRequest'
      responses:
        '200':
          description: Application updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "APPLICATION_UPDATED_SUCCESS"
                  data:
                    type: object
                    properties:
                      application_id:
                        type: string
                        example: "64f8b2e5c9d1a5b4e3f2a1b0"
                      updated_fields:
                        type: array
                        items:
                          type: string
                        example: ["organization_description", "contact_email"]
                      requires_re_review:
                        type: boolean
                        example: false
        '400':
          description: Invalid update data or application not editable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "APPLICATION_NOT_EDITABLE"
                error: "Application cannot be modified in current status"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - User Applications
      summary: Withdraw application
      description: |
        Withdraw a submitted application. Only possible before final decision.
        Withdrawn applications cannot be reactivated.

        **Authentication required** - User can only withdraw their own applications.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                withdrawal_reason:
                  type: string
                  description: Reason for withdrawing the application
                  minLength: 10
                  maxLength: 500
                  example: "Organization decided to postpone platform registration"
              required:
                - withdrawal_reason
      responses:
        '200':
          description: Application withdrawn successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "APPLICATION_WITHDRAWN_SUCCESS"
                  data:
                    type: object
                    properties:
                      application_id:
                        type: string
                        example: "64f8b2e5c9d1a5b4e3f2a1b0"
                      withdrawal_date:
                        type: string
                        format: date-time
                        example: "2025-09-28T10:30:00Z"
                      refund_info:
                        type: string
                        example: "Any fees paid will be refunded within 5-7 business days"
        '400':
          description: Application cannot be withdrawn
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "WITHDRAWAL_NOT_ALLOWED"
                error: "Application cannot be withdrawn after final decision"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /onlus/applications/{application_id}/status:
    get:
      tags:
        - User Applications
      summary: Get application status and timeline
      description: |
        Get current status and detailed timeline of application processing.
        Includes estimated completion time and next steps.

        **Authentication required** - User can only check their own applications.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      responses:
        '200':
          description: Application status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "APPLICATION_STATUS_RETRIEVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/ApplicationStatusInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # USER DOCUMENT ENDPOINTS
  # =============================================================================

  /onlus/applications/{application_id}/documents:
    get:
      tags:
        - User Documents
      summary: Get application documents
      description: |
        Retrieve list of all documents associated with an application.
        Includes document status, verification results, and requirements.

        **Authentication required** - User can only access their own application documents.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
        - name: document_type
          in: query
          description: Filter documents by type
          required: false
          schema:
            type: string
            enum: [legal, financial, operational, compliance, other]
        - name: status
          in: query
          description: Filter documents by verification status
          required: false
          schema:
            type: string
            enum: [pending, under_review, approved, rejected, resubmission_required]
      responses:
        '200':
          description: Application documents retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "DOCUMENTS_RETRIEVED_SUCCESS"
                  data:
                    type: object
                    properties:
                      documents:
                        type: array
                        items:
                          $ref: '#/components/schemas/DocumentInfo'
                      requirements:
                        $ref: '#/components/schemas/DocumentRequirements'
                      upload_guidelines:
                        $ref: '#/components/schemas/UploadGuidelines'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - User Documents
      summary: Upload application document
      description: |
        Upload a new document or new version of existing document for an application.
        Supports multiple file formats with automatic virus scanning and validation.

        **Authentication required** - User can only upload to their own applications.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Document file to upload
                document_type:
                  type: string
                  enum: [legal, financial, operational, compliance, other]
                  description: Type of document being uploaded
                document_subtype:
                  type: string
                  description: Specific document subtype (e.g., "certificate_incorporation", "financial_statements")
                description:
                  type: string
                  maxLength: 500
                  description: Optional description of the document
                expiration_date:
                  type: string
                  format: date
                  description: Document expiration date (if applicable)
                replaces_document_id:
                  type: string
                  description: ID of document this upload replaces (for new versions)
              required:
                - file
                - document_type
                - document_subtype
            encoding:
              file:
                contentType: application/pdf, image/jpeg, image/png, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document
      responses:
        '201':
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "DOCUMENT_UPLOADED_SUCCESS"
                  data:
                    type: object
                    properties:
                      document_id:
                        type: string
                        example: "64f8b3f5c9d1a5b4e3f2a1c0"
                      filename:
                        type: string
                        example: "certificate_incorporation.pdf"
                      document_type:
                        type: string
                        example: "legal"
                      status:
                        type: string
                        example: "pending"
                      processing_info:
                        type: object
                        properties:
                          virus_scan_status:
                            type: string
                            example: "clean"
                          ocr_processing:
                            type: string
                            example: "in_progress"
                          estimated_review_time:
                            type: string
                            example: "2-3 business days"
        '400':
          description: Invalid file or upload parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "INVALID_FILE_FORMAT"
                error: "Only PDF, JPG, PNG, DOC, and DOCX files are allowed"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "FILE_TOO_LARGE"
                error: "Maximum file size is 10MB"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /onlus/applications/{application_id}/documents/{document_id}:
    get:
      tags:
        - User Documents
      summary: Get document details
      description: |
        Get detailed information about a specific document including verification status.

        **Authentication required** - User can only access their own application documents.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
        - name: document_id
          in: path
          required: true
          description: Unique identifier of the document
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      responses:
        '200':
          description: Document details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "DOCUMENT_DETAILS_RETRIEVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/DetailedDocumentInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - User Documents
      summary: Delete document
      description: |
        Delete a document from an application. Only possible for documents that
        haven't been verified yet or when resubmission is required.

        **Authentication required** - User can only delete their own application documents.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
        - name: document_id
          in: path
          required: true
          description: Unique identifier of the document
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      responses:
        '200':
          description: Document deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "DOCUMENT_DELETED_SUCCESS"
                  data:
                    type: object
                    properties:
                      document_id:
                        type: string
                        example: "64f8b3f5c9d1a5b4e3f2a1c0"
                      deletion_date:
                        type: string
                        format: date-time
                        example: "2025-09-28T10:30:00Z"
        '400':
          description: Document cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "DOCUMENT_DELETION_NOT_ALLOWED"
                error: "Approved documents cannot be deleted"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /onlus/applications/{application_id}/documents/{document_id}/download:
    get:
      tags:
        - User Documents
      summary: Download document
      description: |
        Download the actual document file. Returns the original uploaded file.

        **Authentication required** - User can only download their own application documents.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
        - name: document_id
          in: path
          required: true
          description: Unique identifier of the document
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      responses:
        '200':
          description: Document file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            application/msword:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Filename of the downloaded document
              schema:
                type: string
                example: 'attachment; filename="certificate_incorporation.pdf"'
            Content-Type:
              description: MIME type of the document
              schema:
                type: string
                example: "application/pdf"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # ADMIN APPLICATION ENDPOINTS
  # =============================================================================

  /admin/onlus/applications:
    get:
      tags:
        - Admin Applications
      summary: Get all applications for admin review
      description: |
        Retrieve paginated list of all ONLUS applications with filtering and sorting.
        Includes applications in all statuses for administrative oversight.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of applications per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: status
          in: query
          description: Filter by application status
          required: false
          schema:
            type: string
            enum: [draft, submitted, under_review, approved, rejected, withdrawn]
        - name: phase
          in: query
          description: Filter by application phase
          required: false
          schema:
            type: string
            enum: [initial, documentation, due_diligence, final_approval]
        - name: priority
          in: query
          description: Filter by application priority
          required: false
          schema:
            type: string
            enum: [low, normal, high, urgent]
        - name: risk_score_min
          in: query
          description: Minimum risk score filter
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 100
        - name: risk_score_max
          in: query
          description: Maximum risk score filter
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 100
        - name: category
          in: query
          description: Filter by ONLUS category
          required: false
          schema:
            type: string
            enum: [healthcare, education, environment, social_services, culture_sport, civil_rights, international_cooperation, other]
        - name: assigned_to
          in: query
          description: Filter by assigned reviewer ID
          required: false
          schema:
            type: string
        - name: submitted_after
          in: query
          description: Filter applications submitted after date
          required: false
          schema:
            type: string
            format: date
        - name: submitted_before
          in: query
          description: Filter applications submitted before date
          required: false
          schema:
            type: string
            format: date
        - name: sort_by
          in: query
          description: Sort criteria
          required: false
          schema:
            type: string
            enum: [submitted_at, status, priority, risk_score, organization_name, deadline]
            default: submitted_at
        - name: sort_order
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Applications retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ADMIN_APPLICATIONS_RETRIEVED_SUCCESS"
                  data:
                    type: object
                    properties:
                      applications:
                        type: array
                        items:
                          $ref: '#/components/schemas/AdminApplicationSummary'
                      pagination:
                        $ref: '#/components/schemas/PaginationInfo'
                      filters:
                        $ref: '#/components/schemas/ActiveFilters'
                      summary_stats:
                        $ref: '#/components/schemas/ApplicationSummaryStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Admin privileges required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "ADMIN_REQUIRED"
                error: "Administrative privileges required for this operation"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/onlus/applications/{application_id}:
    get:
      tags:
        - Admin Applications
      summary: Get application details for admin review
      description: |
        Get comprehensive application details including sensitive information
        not available to applicants. Used for administrative review process.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      responses:
        '200':
          description: Application details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ADMIN_APPLICATION_DETAILS_RETRIEVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/AdminApplicationDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/onlus/applications/{application_id}/assign:
    post:
      tags:
        - Admin Applications
      summary: Assign application to reviewer
      description: |
        Assign an application to a specific reviewer or review team.
        Updates application status and timeline accordingly.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assigned_to:
                  type: string
                  description: User ID of reviewer to assign application to
                  example: "64f8b4e5c9d1a5b4e3f2a1d0"
                assignment_reason:
                  type: string
                  description: Reason for assignment
                  maxLength: 500
                  example: "Healthcare sector expertise required"
                priority:
                  type: string
                  enum: [low, normal, high, urgent]
                  description: Application priority level
                  example: "normal"
                deadline:
                  type: string
                  format: date
                  description: Assignment deadline (optional)
                  example: "2025-10-15"
                special_instructions:
                  type: string
                  description: Special instructions for reviewer
                  maxLength: 1000
                  example: "Pay special attention to financial documentation"
              required:
                - assigned_to
      responses:
        '200':
          description: Application assigned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "APPLICATION_ASSIGNED_SUCCESS"
                  data:
                    type: object
                    properties:
                      application_id:
                        type: string
                        example: "64f8b2e5c9d1a5b4e3f2a1b0"
                      assigned_to:
                        type: string
                        example: "64f8b4e5c9d1a5b4e3f2a1d0"
                      assigned_at:
                        type: string
                        format: date-time
                        example: "2025-09-28T10:30:00Z"
                      deadline:
                        type: string
                        format: date
                        example: "2025-10-15"
                      notification_sent:
                        type: boolean
                        example: true
        '400':
          description: Invalid assignment data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "INVALID_ASSIGNMENT"
                error: "Cannot assign application in current status"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/onlus/applications/{application_id}/review:
    post:
      tags:
        - Admin Applications
      summary: Submit application review decision
      description: |
        Submit a comprehensive review decision for an application.
        Includes approval, rejection, or request for additional information.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationReviewDecision'
      responses:
        '200':
          description: Review decision submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "REVIEW_DECISION_SUBMITTED_SUCCESS"
                  data:
                    type: object
                    properties:
                      application_id:
                        type: string
                        example: "64f8b2e5c9d1a5b4e3f2a1b0"
                      decision:
                        type: string
                        example: "approved"
                      decision_date:
                        type: string
                        format: date-time
                        example: "2025-09-28T10:30:00Z"
                      next_phase:
                        type: string
                        example: "onlus_activation"
                      notifications_sent:
                        type: object
                        properties:
                          applicant:
                            type: boolean
                            example: true
                          internal_team:
                            type: boolean
                            example: true
        '400':
          description: Invalid review decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "INVALID_REVIEW_DECISION"
                error: "Review decision does not match current application phase"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/onlus/applications/{application_id}/request-info:
    post:
      tags:
        - Admin Applications
      summary: Request additional information from applicant
      description: |
        Request specific additional information or documentation from the applicant.
        Application status is updated and applicant is notified.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_type:
                  type: string
                  enum: [documentation, clarification, correction, additional_info]
                  description: Type of information request
                  example: "documentation"
                specific_requests:
                  type: array
                  items:
                    type: object
                    properties:
                      category:
                        type: string
                        enum: [legal, financial, operational, compliance, other]
                        description: Category of requested information
                      description:
                        type: string
                        description: Detailed description of what is needed
                        minLength: 10
                        maxLength: 1000
                      required:
                        type: boolean
                        description: Whether this request is mandatory
                        default: true
                      deadline:
                        type: string
                        format: date
                        description: Deadline for providing this information
                  minItems: 1
                  example:
                    - category: "financial"
                      description: "Please provide audited financial statements for the last fiscal year"
                      required: true
                      deadline: "2025-10-15"
                general_message:
                  type: string
                  description: General message to applicant
                  maxLength: 2000
                  example: "Thank you for your application. We need some additional information to complete our review."
                response_deadline:
                  type: string
                  format: date
                  description: Overall deadline for response
                  example: "2025-10-15"
                reviewer_notes:
                  type: string
                  description: Internal notes about the request
                  maxLength: 1000
                  example: "Requested additional financial documentation due to incomplete audit information"
              required:
                - request_type
                - specific_requests
                - response_deadline
      responses:
        '200':
          description: Information request sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "INFORMATION_REQUEST_SENT_SUCCESS"
                  data:
                    type: object
                    properties:
                      application_id:
                        type: string
                        example: "64f8b2e5c9d1a5b4e3f2a1b0"
                      request_id:
                        type: string
                        example: "64f8b5e5c9d1a5b4e3f2a1e0"
                      request_date:
                        type: string
                        format: date-time
                        example: "2025-09-28T10:30:00Z"
                      response_deadline:
                        type: string
                        format: date
                        example: "2025-10-15"
                      status_updated:
                        type: string
                        example: "information_requested"
                      notification_sent:
                        type: boolean
                        example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # ADMIN ONLUS MANAGEMENT ENDPOINTS
  # =============================================================================

  /admin/onlus:
    get:
      tags:
        - Admin ONLUS
      summary: Get all ONLUS organizations for admin management
      description: |
        Retrieve comprehensive list of all ONLUS organizations with administrative information.
        Includes active, inactive, and suspended organizations.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of organizations per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: status
          in: query
          description: Filter by organization status
          required: false
          schema:
            type: string
            enum: [active, inactive, suspended, under_review]
        - name: category
          in: query
          description: Filter by ONLUS category
          required: false
          schema:
            type: string
            enum: [healthcare, education, environment, social_services, culture_sport, civil_rights, international_cooperation, other]
        - name: verification_status
          in: query
          description: Filter by verification status
          required: false
          schema:
            type: string
            enum: [verified, pending_verification, verification_expired, verification_failed]
        - name: search
          in: query
          description: Search in organization name, tax ID, or description
          required: false
          schema:
            type: string
            minLength: 3
            maxLength: 100
        - name: sort_by
          in: query
          description: Sort criteria
          required: false
          schema:
            type: string
            enum: [name, category, created_at, last_verification, total_donations, status]
            default: name
        - name: sort_order
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: ONLUS organizations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ADMIN_ONLUS_LIST_RETRIEVED_SUCCESS"
                  data:
                    type: object
                    properties:
                      organizations:
                        type: array
                        items:
                          $ref: '#/components/schemas/AdminONLUSProfile'
                      pagination:
                        $ref: '#/components/schemas/PaginationInfo'
                      filters:
                        $ref: '#/components/schemas/ActiveFilters'
                      summary_stats:
                        $ref: '#/components/schemas/ONLUSSummaryStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/onlus/{onlus_id}:
    get:
      tags:
        - Admin ONLUS
      summary: Get ONLUS details for admin management
      description: |
        Get comprehensive ONLUS details including administrative information,
        verification history, and operational metrics.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: onlus_id
          in: path
          required: true
          description: Unique identifier of the ONLUS organization
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      responses:
        '200':
          description: ONLUS details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ADMIN_ONLUS_DETAILS_RETRIEVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/AdminONLUSDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Admin ONLUS
      summary: Update ONLUS organization
      description: |
        Update ONLUS organization information. Allows administrative updates
        to any organization data including status changes.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: onlus_id
          in: path
          required: true
          description: Unique identifier of the ONLUS organization
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminONLUSUpdateRequest'
      responses:
        '200':
          description: ONLUS updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ADMIN_ONLUS_UPDATED_SUCCESS"
                  data:
                    type: object
                    properties:
                      onlus_id:
                        type: string
                        example: "64f8b2e5c9d1a5b4e3f2a1b0"
                      updated_fields:
                        type: array
                        items:
                          type: string
                        example: ["status", "verification_notes"]
                      update_date:
                        type: string
                        format: date-time
                        example: "2025-09-28T10:30:00Z"
                      notifications_sent:
                        type: boolean
                        example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/onlus/{onlus_id}/suspend:
    post:
      tags:
        - Admin ONLUS
      summary: Suspend ONLUS organization
      description: |
        Suspend a ONLUS organization temporarily. Suspended organizations
        cannot receive new donations but existing data is preserved.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: onlus_id
          in: path
          required: true
          description: Unique identifier of the ONLUS organization
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                suspension_reason:
                  type: string
                  description: Reason for suspension
                  minLength: 10
                  maxLength: 1000
                  example: "Verification documents expired and renewal pending"
                suspension_type:
                  type: string
                  enum: [temporary, pending_review, compliance_issue, administrative]
                  description: Type of suspension
                  example: "pending_review"
                suspension_duration:
                  type: integer
                  description: Duration of suspension in days (null for indefinite)
                  minimum: 1
                  maximum: 365
                  example: 30
                internal_notes:
                  type: string
                  description: Internal administrative notes
                  maxLength: 2000
                  example: "Contacted organization on 2025-09-25, awaiting response"
                notify_organization:
                  type: boolean
                  description: Whether to notify the organization of suspension
                  default: true
              required:
                - suspension_reason
                - suspension_type
      responses:
        '200':
          description: ONLUS suspended successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ONLUS_SUSPENDED_SUCCESS"
                  data:
                    type: object
                    properties:
                      onlus_id:
                        type: string
                        example: "64f8b2e5c9d1a5b4e3f2a1b0"
                      suspension_date:
                        type: string
                        format: date-time
                        example: "2025-09-28T10:30:00Z"
                      suspension_end_date:
                        type: string
                        format: date-time
                        example: "2025-10-28T10:30:00Z"
                      status:
                        type: string
                        example: "suspended"
                      notification_sent:
                        type: boolean
                        example: true
        '400':
          description: Cannot suspend organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "SUSPENSION_NOT_ALLOWED"
                error: "Organization already suspended or inactive"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/onlus/{onlus_id}/reactivate:
    post:
      tags:
        - Admin ONLUS
      summary: Reactivate suspended ONLUS organization
      description: |
        Reactivate a suspended ONLUS organization. Organization returns to active
        status and can receive donations again.

        **Admin authentication required** - Administrative privileges needed.
      security:
        - bearerAuth: []
      parameters:
        - name: onlus_id
          in: path
          required: true
          description: Unique identifier of the ONLUS organization
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{24}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reactivation_reason:
                  type: string
                  description: Reason for reactivation
                  minLength: 10
                  maxLength: 1000
                  example: "All compliance issues resolved and documentation updated"
                verification_completed:
                  type: boolean
                  description: Whether re-verification was completed
                  default: false
                internal_notes:
                  type: string
                  description: Internal administrative notes
                  maxLength: 2000
                  example: "Reviewed updated documents on 2025-09-28, all requirements met"
                notify_organization:
                  type: boolean
                  description: Whether to notify the organization of reactivation
                  default: true
              required:
                - reactivation_reason
      responses:
        '200':
          description: ONLUS reactivated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ONLUS_REACTIVATED_SUCCESS"
                  data:
                    type: object
                    properties:
                      onlus_id:
                        type: string
                        example: "64f8b2e5c9d1a5b4e3f2a1b0"
                      reactivation_date:
                        type: string
                        format: date-time
                        example: "2025-09-28T10:30:00Z"
                      status:
                        type: string
                        example: "active"
                      notification_sent:
                        type: boolean
                        example: true
        '400':
          description: Cannot reactivate organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "REACTIVATION_NOT_ALLOWED"
                error: "Organization is not currently suspended"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # GOO-19: SMART ALLOCATION & FINANCIAL CONTROL ENDPOINTS
  # =============================================================================

  # Smart Allocation Endpoints
  /api/onlus/allocations/request:
    post:
      tags: [Smart Allocation]
      summary: Create new allocation request
      description: Create a new donation allocation request for an ONLUS with smart scoring
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [onlus_id, requested_amount, project_description]
              properties:
                onlus_id:
                  type: string
                  description: ONLUS organization identifier
                requested_amount:
                  type: number
                  minimum: 1
                  description: Amount requested in EUR
                project_description:
                  type: string
                  maxLength: 2000
                  description: Description of project needing funding
                deadline:
                  type: string
                  format: date
                  description: Project deadline (optional)
                priority_level:
                  type: string
                  enum: [low, medium, high, urgent, emergency]
                  description: Request priority level
      responses:
        '200':
          description: Allocation request created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ALLOCATION_REQUEST_CREATED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/AllocationRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/onlus/allocations/{request_id}:
    get:
      tags: [Smart Allocation]
      summary: Get allocation request details
      description: Retrieve detailed information about a specific allocation request
      security:
        - bearerAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Allocation request retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ALLOCATION_REQUEST_RETRIEVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/AllocationRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/onlus/allocations/{request_id}/approve:
    post:
      tags: [Smart Allocation]
      summary: Approve allocation request
      description: Approve an allocation request and execute the allocation
      security:
        - bearerAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                approved_amount:
                  type: number
                  description: Override requested amount (optional)
                approval_notes:
                  type: string
                  maxLength: 1000
                  description: Admin notes for approval
      responses:
        '200':
          description: Request approved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ALLOCATION_REQUEST_APPROVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/AllocationResult'

  # Financial Reporting Endpoints
  /api/onlus/financial/reports:
    post:
      tags: [Financial Reporting]
      summary: Generate financial report
      description: Generate various types of financial reports with analytics
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [report_type, start_date, end_date]
              properties:
                report_type:
                  type: string
                  enum: [monthly, quarterly, annual, donor_statement, onlus_statement, audit_report]
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                entity_id:
                  type: string
                  description: Specific ONLUS or donor ID (optional)
                report_format:
                  type: string
                  enum: [pdf, csv, json]
                  default: pdf
                include_tax_info:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Report generation started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "REPORT_GENERATION_STARTED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/FinancialReport'

    get:
      tags: [Financial Reporting]
      summary: Get financial reports list
      description: Retrieve list of financial reports with filtering
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [monthly, quarterly, annual, donor_statement, onlus_statement, audit_report]
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, processing, completed, failed]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: skip
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Reports retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "REPORTS_RETRIEVED_SUCCESS"
                  data:
                    type: object
                    properties:
                      reports:
                        type: array
                        items:
                          $ref: '#/components/schemas/FinancialReport'
                      count:
                        type: integer
                      pagination:
                        type: object

  /api/onlus/financial/reports/{report_id}:
    get:
      tags: [Financial Reporting]
      summary: Get specific financial report
      description: Retrieve a specific financial report by ID
      security:
        - bearerAuth: []
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Report retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "FINANCIAL_REPORT_RETRIEVED_SUCCESS"
                  data:
                    $ref: '#/components/schemas/FinancialReport'

  /api/onlus/financial/analytics/dashboard:
    get:
      tags: [Financial Reporting]
      summary: Get financial analytics dashboard
      description: Retrieve real-time financial analytics and KPIs
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 365
            default: 30
          description: Period in days for analytics
      responses:
        '200':
          description: Dashboard data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "ANALYTICS_DASHBOARD_SUCCESS"
                  data:
                    type: object
                    properties:
                      total_donations:
                        type: number
                        example: 125000.00
                      total_allocations:
                        type: number
                        example: 95000.00
                      pending_requests:
                        type: integer
                        example: 15
                      avg_processing_time:
                        type: string
                        example: "2.5 days"

  # Compliance Monitoring Endpoints
  /api/onlus/compliance/assessment/{onlus_id}:
    post:
      tags: [Compliance Monitoring]
      summary: Conduct compliance assessment
      description: Perform comprehensive compliance assessment for an ONLUS
      security:
        - bearerAuth: []
      parameters:
        - name: onlus_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                period_months:
                  type: integer
                  minimum: 1
                  maximum: 60
                  default: 12
      responses:
        '200':
          description: Assessment completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "COMPLIANCE_ASSESSMENT_SUCCESS"
                  data:
                    $ref: '#/components/schemas/ComplianceScore'

  /api/onlus/compliance/score/{onlus_id}/current:
    get:
      tags: [Compliance Monitoring]
      summary: Get current compliance score
      description: Retrieve the current compliance score for an ONLUS
      security:
        - bearerAuth: []
      parameters:
        - name: onlus_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Compliance score retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "CURRENT_COMPLIANCE_SCORE_SUCCESS"
                  data:
                    $ref: '#/components/schemas/ComplianceScore'

  /api/onlus/compliance/monitoring/real-time:
    post:
      tags: [Compliance Monitoring]
      summary: Perform real-time compliance monitoring
      description: Execute real-time compliance monitoring across all organizations
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                max_alerts:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 100
      responses:
        '200':
          description: Monitoring completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "REAL_TIME_MONITORING_SUCCESS"
                  data:
                    type: object
                    properties:
                      monitoring_session_id:
                        type: string
                        example: "monitor_456"
                      total_organizations_checked:
                        type: integer
                        example: 150
                      alerts_generated:
                        type: integer
                        example: 8

  /api/onlus/compliance/dashboard:
    get:
      tags: [Compliance Monitoring]
      summary: Get compliance dashboard
      description: Retrieve comprehensive compliance dashboard data
      security:
        - bearerAuth: []
      parameters:
        - name: include_trends
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Dashboard data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "COMPLIANCE_DASHBOARD_SUCCESS"
                  data:
                    type: object
                    properties:
                      total_organizations:
                        type: integer
                        example: 150
                      high_risk_count:
                        type: integer
                        example: 5
                      avg_compliance_score:
                        type: number
                        example: 82.3

# =============================================================================
# COMPONENTS SECTION
# =============================================================================

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from authentication endpoint

  responses:
    BadRequest:
      description: Bad request - invalid parameters or data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "VALIDATION_ERROR"
            error: "Invalid request parameters"

    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "AUTHENTICATION_REQUIRED"
            error: "Valid authentication token required"

    Forbidden:
      description: Forbidden - insufficient privileges
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "ACCESS_DENIED"
            error: "Insufficient privileges for this operation"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "RESOURCE_NOT_FOUND"
            error: "The requested resource was not found"

    AdminRequired:
      description: Administrative privileges required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "ADMIN_REQUIRED"
            error: "Administrative privileges required for this operation"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "INTERNAL_SERVER_ERROR"
            error: "An unexpected error occurred"

  schemas:
    # =============================================================================
    # BASIC RESPONSE SCHEMAS
    # =============================================================================

    # Core API Response with message constants
    ApiResponse:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
        message:
          type: string
          description: Constant message key for UI localization
          enum:
            # Application operations
            - APPLICATION_SUBMITTED_SUCCESS
            - APPLICATION_RETRIEVED_SUCCESS
            - APPLICATION_UPDATED_SUCCESS
            - APPLICATION_WITHDRAWN_SUCCESS
            - APPLICATION_APPROVED_SUCCESS
            - APPLICATION_REJECTED_SUCCESS
            - APPLICATION_NOT_FOUND
            - APPLICATION_CREATION_FAILED
            - APPLICATION_UPDATE_FAILED
            - APPLICATION_ACCESS_DENIED
            - APPLICATION_NOT_REVIEWABLE
            - APPLICATION_INCOMPLETE
            - APPLICATION_WITHDRAWAL_FAILED
            - APPLICATION_WITHDRAWAL_NOT_ALLOWED
            - APPLICATION_UPDATE_NOT_ALLOWED
            - APPLICATION_REJECTION_FAILED
            - APPLICATION_RETRIEVAL_FAILED
            - APPLICATION_STATISTICS_RETRIEVAL_FAILED
            - APPLICATION_DOCUMENTS_RETRIEVAL_FAILED
            - APPLICATION_PROGRESS_RETRIEVAL_FAILED
            - APPLICATION_NOT_UNDER_REVIEW
            - APPLICATION_NOT_APPROVED
            - ADMIN_APPLICATIONS_RETRIEVAL_FAILED
            # ONLUS operations
            - ONLUS_RETRIEVED_SUCCESS
            - ONLUS_UPDATED_SUCCESS
            - ONLUS_CREATED_SUCCESS
            - ONLUS_NOT_FOUND
            - ONLUS_UPDATE_FAILED
            # Document operations
            - DOCUMENT_UPLOADED_SUCCESS
            - DOCUMENT_RETRIEVED_SUCCESS
            - DOCUMENT_DELETED_SUCCESS
            - DOCUMENT_NOT_FOUND
            - DOCUMENT_UPLOAD_FAILED
            - DOCUMENT_ACCESS_DENIED
            - FILE_UPLOAD_FAILED
            - INVALID_FILE_TYPE
            - FILE_TOO_LARGE
            # Verification operations
            - VERIFICATION_COMPLETED_SUCCESS
            - VERIFICATION_FAILED
            - ASSESSMENT_DUE_SCORES_SUCCESS
            - ASSESSMENT_DUE_SCORES_FAILED
            - ASSESSMENT_VERIFICATION_FAILED
            # Allocation operations
            - ALLOCATION_REQUEST_CREATED_SUCCESS
            - ALLOCATION_REQUEST_RETRIEVED_SUCCESS
            - ALLOCATION_REQUEST_CREATION_FAILED
            - ALLOCATION_REQUEST_RETRIEVAL_FAILED
            - ALLOCATION_REQUEST_PROCESSING_FAILED
            - ALLOCATION_SCORE_CALCULATED_SUCCESS
            - ALLOCATION_SCORE_CALCULATION_FAILED
            - ALLOCATION_SCORE_BELOW_THRESHOLD
            - ALLOCATION_RECOMMENDATIONS_SUCCESS
            - ALLOCATION_RECOMMENDATIONS_FAILED
            - ALLOCATION_RESULT_RETRIEVED_SUCCESS
            - ALLOCATION_RESULT_RETRIEVAL_FAILED
            - ALLOCATION_RESULT_NOT_FOUND
            - ALLOCATION_RESULT_CREATION_FAILED
            - ALLOCATION_STATISTICS_SUCCESS
            - ALLOCATION_STATISTICS_FAILED
            - ALLOCATION_EXECUTION_FAILED
            - ALLOCATION_NOT_SCHEDULED
            - ALLOCATION_REQUEST_AUDIT_FAILED
            - ALLOCATION_PROCESSING_AUDIT_FAILED
            - ALLOCATION_EXECUTION_AUDIT_FAILED
            # Audit operations
            - AUDIT_ENTRY_CREATION_FAILED
            - AUDIT_REPORT_CREATION_FAILED
            - AUDIT_REPORT_GENERATION_FAILED
            - AUDIT_MAINTENANCE_FAILED
            # Financial operations
            - ANALYTICS_DASHBOARD_FAILED
            # Compliance operations
            - COMPLIANCE_CHECK_PASSED
            - COMPLIANCE_VIOLATION_DETECTED
            # General errors
            - INTERNAL_SERVER_ERROR
            - DATA_REQUIRED
            - ACCESS_DENIED
            - VALIDATION_ERROR
            - UNAUTHORIZED_ACCESS
        data:
          anyOf:
            - type: object
            - type: "null"

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          description: Constant message key for UI localization
          example: "VALIDATION_ERROR"
        error:
          type: string
          description: Detailed error description
          example: "Required field 'organization_name' is missing"
      required:
        - success
        - message

    PaginationInfo:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        total_pages:
          type: integer
          example: 15
        total_items:
          type: integer
          example: 287
        items_per_page:
          type: integer
          example: 20
        has_next:
          type: boolean
          example: true
        has_previous:
          type: boolean
          example: false
      required:
        - current_page
        - total_pages
        - total_items
        - items_per_page
        - has_next
        - has_previous

    ActiveFilters:
      type: object
      properties:
        category:
          type: string
          example: "healthcare"
        location:
          type: string
          example: "Milano"
        search:
          type: string
          example: "cancer research"
        status:
          type: string
          example: "active"

    # =============================================================================
    # ONLUS PROFILE SCHEMAS
    # =============================================================================

    PublicONLUSProfile:
      type: object
      description: Public ONLUS profile information for donor discovery
      properties:
        id:
          type: string
          example: "64f8b2e5c9d1a5b4e3f2a1b0"
        organization_name:
          type: string
          example: "Fondazione Ricerca Tumori Milano"
        organization_description:
          type: string
          example: "Research foundation dedicated to cancer treatment and prevention"
        category:
          type: string
          enum: [healthcare, education, environment, social_services, culture_sport, civil_rights, international_cooperation, other]
          example: "healthcare"
        location:
          type: object
          properties:
            city:
              type: string
              example: "Milano"
            region:
              type: string
              example: "Lombardia"
            country:
              type: string
              example: "Italia"
        logo_url:
          type: string
          format: uri
          example: "https://cdn.goodplay.it/logos/fondazione-ricerca-tumori.png"
        website:
          type: string
          format: uri
          example: "https://www.fondazionetumorimilan.it"
        established_year:
          type: integer
          example: 1998
        beneficiaries_count:
          type: integer
          description: Estimated number of beneficiaries served annually
          example: 25000
        total_donations_received:
          type: number
          format: float
          description: Total donations received through platform (EUR)
          example: 125000.50
        verified_status:
          type: boolean
          description: Whether organization has been verified
          example: true
        created_at:
          type: string
          format: date-time
          example: "2025-01-15T08:30:00Z"
      required:
        - id
        - organization_name
        - organization_description
        - category
        - location
        - verified_status
        - created_at

    DetailedONLUSProfile:
      allOf:
        - $ref: '#/components/schemas/PublicONLUSProfile'
        - type: object
          properties:
            detailed_description:
              type: string
              description: Comprehensive organization description
              example: "Fondazione Ricerca Tumori Milano is a leading research institution..."
            mission_statement:
              type: string
              example: "To advance cancer research and improve patient outcomes through innovative treatments"
            programs:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: "Pediatric Cancer Research Program"
                  description:
                    type: string
                    example: "Dedicated research program focusing on childhood cancers"
                  beneficiaries:
                    type: string
                    example: "Children with cancer and their families"
                  impact_metrics:
                    type: array
                    items:
                      type: string
                    example: ["1,500 children treated annually", "15 new treatment protocols developed"]
            contact_info:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: "info@fondazionetumorimilan.it"
                phone:
                  type: string
                  example: "+39 02 1234 5678"
                address:
                  type: string
                  example: "Via Roma 123, 20121 Milano MI, Italia"
            social_media:
              type: object
              properties:
                facebook:
                  type: string
                  format: uri
                  example: "https://facebook.com/fondazionetumorimilan"
                twitter:
                  type: string
                  format: uri
                  example: "https://twitter.com/fondazionetumori"
                instagram:
                  type: string
                  format: uri
                  example: "https://instagram.com/fondazionetumorimilan"
            donation_statistics:
              type: object
              properties:
                total_donations:
                  type: number
                  format: float
                  example: 125000.50
                total_donors:
                  type: integer
                  example: 3847
                average_donation:
                  type: number
                  format: float
                  example: 32.50
                monthly_trend:
                  type: array
                  items:
                    type: object
                    properties:
                      month:
                        type: string
                        example: "2025-09"
                      amount:
                        type: number
                        format: float
                        example: 8500.00
                      donors:
                        type: integer
                        example: 267

    # =============================================================================
    # APPLICATION SCHEMAS
    # =============================================================================

    ApplicationSubmissionRequest:
      type: object
      properties:
        organization_name:
          type: string
          minLength: 2
          maxLength: 200
          example: "Fondazione Ricerca Tumori Milano"
        organization_description:
          type: string
          minLength: 50
          maxLength: 2000
          example: "Research foundation dedicated to advancing cancer treatment and prevention through innovative research programs"
        category:
          type: string
          enum: [healthcare, education, environment, social_services, culture_sport, civil_rights, international_cooperation, other]
          example: "healthcare"
        tax_id:
          type: string
          pattern: '^[0-9]{11}$'
          description: Italian tax identification number (11 digits)
          example: "12345678901"
        legal_structure:
          type: string
          enum: [foundation, association, cooperative, other]
          example: "foundation"
        established_year:
          type: integer
          minimum: 1800
          maximum: 2025
          example: 1998
        website:
          type: string
          format: uri
          example: "https://www.fondazionetumorimilan.it"
        contact_email:
          type: string
          format: email
          example: "info@fondazionetumorimilan.it"
        contact_phone:
          type: string
          pattern: '^\+39\s?[0-9\s]{8,15}$'
          example: "+39 02 1234 5678"
        legal_representative:
          type: object
          properties:
            full_name:
              type: string
              minLength: 2
              maxLength: 100
              example: "Dr. Mario Rossi"
            position:
              type: string
              example: "President"
            email:
              type: string
              format: email
              example: "president@fondazionetumorimilan.it"
            phone:
              type: string
              example: "+39 335 1234 567"
          required:
            - full_name
[...]
